<div class="center-block">

  <div class="center-block page_header centered padded">
    <div>
      <img class="image_size_sm border" src="images/portfolio/profile.png" alt="profile.png">
    </div>
    <div>
      <p class="padded">Hi, my name is John and I'm a full-stack developer!</p>
      <p class="padded">During my six-month apprenticeship with <a href="http://www.minedminds.org/" target="_blank">Mined Minds</a>, I worked on teams, in pairs and individually on multiple large projects.</p>
      <p class="padded"><i>Just for reference, the codebase of the primary project that I worked on was over 14,500 lines of code.</i></p>
      <p class="padded">I truly enjoy developing for both front-end and back-end, and am always looking for a good challenge.</p>
      <p class="padded">If you'd like to contact me for opportunities, assistance or just to chat, <a href="mailto:john.c.verbosky@gmail.com?Subject=Portfolio%20contact" target="_top">please drop me a line</a>.</p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="centered">
    <h4>Technologies</h4>
    <p class="padded">Here's a list of the technologies that I've been using since I started my coding adventures:</p>
  </div>

  <div class="centered">

    <div class="inline_block">
      <table class="table_small">
        <colgroup>
          <col class="grey_lt">
          <col class="grey_med">
        </colgroup>
        <tr>
          <th colspan="2" class="background_color_ab">Languages</th>
        </tr>
        <tr>
          <td><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a></td>
          <td><a href="https://www.python.org/" target="_blank">Python</a></td>
        </tr>
        <tr>
          <td><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTML</a></td>
          <td><a href="https://www.ruby-lang.org/en/" target="_blank">Ruby</a></td>
        </tr>
        <tr>
          <td><a href="https://www.javascript.com/" target="_blank">JavaScript</a></td>
          <td><a href="https://developer.apple.com/swift/" target="_blank">Swift</a></td>
        </tr>
      </table>
    </div>

    <div class="inline_block">
      <table class="table_small">
        <colgroup>
          <col class="grey_lt">
          <col class="grey_med">
        </colgroup>
        <tr>
          <th colspan="2" class="background_color_ab">Platforms</th>
        </tr>
        <tr>
          <td><a href="https://aws.amazon.com/" target="_blank">AWS (RDS, S3, SES)</a></td>
          <td><a href="https://www.heroku.com/" target="_blank">Heroku</a></td>
        </tr>
        <tr>
          <td><a href="https://circleci.com/" target="_blank">CircleCI</a></td>
          <td><a href="https://trello.com/" target="_blank">Trello</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/" target="_blank">GitHub</a></td>
          <td class="background_color_ab"></td>
        </tr>
      </table>
    </div>

    <div class="inline_block">
      <table class="table_small">
        <colgroup>
          <col class="grey_lt">
          <col class="grey_med">
        </colgroup>
        <tr>
          <th colspan="2" class="background_color_ab">APIs</th>
        </tr>
        <tr>
          <td><a href="https://www.flickr.com/services/api/" target="_blank">Flickr</a></td>
          <td><a href="https://stripe.com/docs/api" target="_blank">Stripe</a></td>
        </tr>
        <tr>
          <td><a href="https://api.insight.ly/v2.1/Help" target="_blank">Insightly</a></td>
          <td><a href="https://www.supersaas.com/info/dev/user_api" target="_blank">SuperSaaS</a></td>
        </tr>
        <tr>
          <td><a href="https://developer.paypal.com/docs/api/payments/" target="_blank">PayPal</a></td>
          <td><a href="https://www.mediawiki.org/wiki/API:Main_page" target="_blank">Wikipedia</a></td>
        </tr>
      </table>
    </div>

    <div class="inline_block">
      <table class="table_small">
        <colgroup>
          <col class="grey_lt">
          <col class="grey_med">
        </colgroup>
        <tr>
          <th colspan="2" class="background_color_ab">Databases</th>
        </tr>
        <tr>
          <td><a href="http://couchdb.apache.org/" target="_blank">CouchDB</a></td>
          <td><a href="https://pouchdb.com/" target="_blank">PouchDB</a></td>
        </tr>
        <tr>
          <td><a href="https://www.mysql.com/" target="_blank">MySQL</a></td>
          <td><a href="https://www.sqlite.org/" target="_blank">SQLite</a></td>
        </tr>
        <tr>
          <td><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></td>
          <td class="background_color_ab"></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="centered">

    <div class="inline_block align_top">
      <table class="table_small">
        <colgroup>
          <col class="grey_lt">
          <col class="grey_med">
        </colgroup>
        <tr>
          <th colspan="2" class="background_color_ab">CSS Libraries</th>
        </tr>
        <tr>
          <td><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></td>
          <td><a href="http://fontawesome.io/" target="_blank">Font Awesome</a></td>
        </tr>
      </table>
    </div>

    <div class="inline_block align_top">
      <table class="table_small">
        <colgroup>
          <col class="grey_lt">
          <col class="grey_med">
        </colgroup>
        <tr>
          <th colspan="2" class="background_color_ab">JavaScript Libraries</th>
        </tr>
        <tr>
          <td><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX" target="_blank">AJAX</a></td>
          <td><a href="https://jquery.com/" target="_blank">jQuery</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/simonbengtsson/jsPDF-AutoTable" target="_blank">AutoTable</a></td>
          <td><a href="https://github.com/MrRio/jsPDF" target="_blank">jsPDF</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/zenorocha/clipboard.js" target="_blank">clipboard.js</a></td>
          <td><a href="https://github.com/pouchdb/pouchdb" target="_blank">PouchDB</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/desandro/imagesloaded" target="_blank">imagesloaded</a></td>
          <td class="background_color_ab"></td>
        </tr>
      </table>
    </div>

    <div class="inline_block">
      <table class="table_small">
        <colgroup>
          <col class="grey_lt">
          <col class="grey_med">
          <col class="grey_lt">
          <col class="grey_med">
        </colgroup>
        <tr>
          <th colspan="4" class="background_color_ab">Ruby Libraries</th>
        </tr>
        <tr>
          <td><a href="https://github.com/aws/aws-sdk-ruby" target="_blank">aws-sdk</a></td>
          <td><a href="https://github.com/ruby/fileutils" target="_blank">fileutils</a></td>
          <td><a href="https://github.com/ruby/openssl" target="_blank">openssl</a></td>
          <td><a href="https://github.com/SeleniumHQ/selenium/tree/master/rb" target="_blank">selenium-webdriver</a></td>
        </tr>
        <tr>
          <td><a href="https://ruby-doc.org/stdlib-2.1.3/libdoc/base64/rdoc/Base64.html" target="_blank">base64</a></td>
          <td><a href="https://github.com/mustafaturan/hashable" target="_blank">hashable</a></td>
          <td><a href="https://ruby-doc.org/stdlib-2.1.0/libdoc/open-uri/rdoc/OpenURI.html" target="_blank">open-uri</a></td>
          <td><a href="https://github.com/sinatra/sinatra" target="_blank">sinatra</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/codahale/bcrypt-ruby" target="_blank">bcrypt</a></td>
          <td><a href="https://github.com/Insightly/insightly-ruby" target="_blank">insightly2</a></td>
          <td><a href="https://github.com/ged/ruby-pg" target="_blank">pg</a></td>
          <td><a href="http://ruby-doc.org/stdlib-1.9.3/libdoc/singleton/rdoc/Singleton.html" target="_blank">singleton</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/couchrest/couchrest" target="_blank">couchrest</a></td>
          <td><a href="https://github.com/flori/json" target="_blank">json</a></td>
          <td><a href="https://github.com/ruby/rake" target="_blank">rake</a></td>
          <td><a href="https://github.com/test-unit/test-unit" target="_blank">test-unit</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/danielsdeleo/deep_merge" target="_blank">deep_merge</a></td>
          <td><a href="https://github.com/mikel/mail" target="_blank">mail</a></td>
          <td><a href="https://github.com/rest-client/rest-client" target="_blank">rest-client</a></td>
          <td><a href="https://github.com/tzinfo/tzinfo" target="_blank">tzinfo</a></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="center-block">
    <table class="table_small">
      <colgroup>
        <col class="grey_lt">
      </colgroup>
      <tr>
        <th class="background_color_ab">Testing</th>
      </tr>
      <tr>
        <td><a href="https://jasmine.github.io/" target="_blank">Jasmine (JavaScript unit tests)</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/seattlerb/minitest" target="_blank">Minitest (Ruby unit tests)</a></td>
      </tr>
      <tr>
        <td><a href="http://www.seleniumhq.org/" target="_blank">Selenium (chromedriver, geckodriver)</a></td>
      </tr>
    </table>
  </div>

  <div class="divider"></div>

  <div>
    <h4 class="centered">Work History</h4>
    <p class="center-block padded about_block">For more information on my work history (including a number of glowing recommendations), please visit my LinkedIn profile.</p>
    <div class="centered">
      <a href="https://www.linkedin.com/in/johnverbosky/" target="_blank"><i class="fa fa-linkedin-square fa-6" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="divider"></div>

  <div>
    <h4 class="centered">Hobbies</h4>
    <p class="center-block padded about_block">Besides coding activities, I also enjoy playing and composing music, improving my Japanese, gardening and landscaping, raising coral (and an 11-year-old percula clownfish), relaxing with my two dogs, and playing games with my family.</p>
    <div class="centered">
      <img class="image_size_med border" src="images/portfolio/aquarium.png" alt="aquarium.png">
    </div>
  </div>

  <div class="divider"></div>

</div>