<h1>My Blog Page</h1>

<hr>

<h3>Write a New Blog</h3>

<hr>

<table>
  <tr>
    <td class="bold">Title:</td>
    <td><input type="text" class="title" id="newBlogTitle"></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button onclick="formatText('b')">B</button>
      <button onclick="formatText('i')">I</button>
      <button onclick="formatText('u')">U</button>
    </td>
  </tr>
  <tr>
    <td class="bold">Body:</td>
    <td><textarea id="newBlogText"></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><img src="" id="photoImage"</td>
  </tr>
  <tr>
    <td class="bold">Image:</td>
    <td><input type="file" accept="image/*" id="photo" onchange="evaluateAndResize('photo')">
  </tr>
</table>

<br>
<button id="btnPostNewBlog" onclick="postNewBlog()">Submit Blog</button>

<!-- replacement for textarea, need to research contenteditable more and test -->

<!-- <div id="div-editable" contenteditable> -->
    <!-- <div style="cursor: text">this inner div is needed to make it work proper in IE</div> -->
<!-- </div> -->

<!-- <input style="margin-top: 10px" type="button" value="ParseDIVText" onclick="ParseDIVText()"/> -->

<hr>

<h3>Previous Blogs</h3>

<hr>

<% blogs_array.reverse_each do |blog| %>

  <h4><%= blog["blog_title"] %></h4>
  <p><i><%= blog["blog_date"] %></i></p>
  <p><%= blog["blog_text"].gsub(/\n/){"<br>"} %></p>

  <% if blog.include?("blog_photo") %>
    <img src="images/blog/<%=blog["blog_photo"]%>" alt=""</p>
  <% end %>

  <hr>

<% end %>