<h1>My Blog Page</h1>

<hr>

<h3>Write a New Blog</h3>

<hr>

<table>
  
  <tr>
    <td class="bold">Title:</td>
    <td><input type="text" class="title border" id="newBlogTitle"></td>
  </tr>

  <tr>
    <td></td>
    <td><img src="" id="photoImage"></td>
  </tr>


  <tr>
    <td class="bold">Image:</td>
    <td>
      <label class="formatButton fileUpload">
        <input type="file" accept="image/*" class="upload" id="photo" onchange="evaluateAndResize('photo')" />
        Choose File
      </label>
    </td>
  </tr>

  <tr>
    <td class="bold">Body:</td>
    <td>
      <div class="border" id="newBlogText" contenteditable="true">
        <div style="cursor: text">
      </div>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <div class="formatButtons">
        <button onclick="doCommand('bold');"></button>
        <button onclick="doCommand('italic');"></button>
        <button onclick="doCommand('underline');"></button>
        <button onclick="doCommand('strikeThrough');"></button>
        <button onclick="doCommand('superscript');"></button>
        <button onclick="doCommand('subscript');"></button>
        <button onclick="doCommand('createLink');"></button>
        <button onclick="doCommand('unlink');"></button>
        <button onclick="doCommand('insertOrderedList');"></button>
        <button onclick="doCommand('insertUnorderedList');"></button>
        <button onclick="doCommand('indent');"></button>
        <button onclick="doCommand('outdent');"></button>
        <button onclick="doCommand('justifyLeft');"></button>
        <button onclick="doCommand('justifyRight');"></button>
        <button onclick="doCommand('justifyCenter');"></button>
        <button onclick="doCommand('justifyFull');"></button>
        <button onclick="doCommand('undo');"></button>
        <button onclick="doCommand('redo');"></button>
      </div>
    </td>
  </tr>

</table>

<br>

<!-- <button class="formatButton submit" id="btnPostNewBlog" onclick="getNewBlogText()">Submit Blog</button> -->
<button class="formatButton submit" id="btnPostNewBlog" onclick="postNewBlog()">Submit Blog</button>

<hr>

<h3>Previous Blogs</h3>

<hr>

<% blogs_array.reverse_each do |blog| %>

  <h4><%= blog["blog_title"] %></h4>
  <p><i><%= blog["blog_date"] %></i></p>
  <% if blog.include?("blog_photo") %>
    <img class="border" src="images/blog/<%=blog["blog_photo"]%>" alt=""</p>
  <% end %>
  <p><%= blog["blog_text"] %></p>

  <hr>

<% end %>