<div class="center-block">

  <div class="center-block page_header padded">
    <h3 class="centered padded">Welcome to my full-stack developer portfolio site!</h3>
    <p>This page highlights a number of web apps that I developed during a 16-week full-stack coding bootcamp that I completed in early 2017.</p>
    <div class="centered padded">
      <a href="images/portfolio/graduation_certificate.png" target="_blank">
        <img class="image_size_med border" src="images/portfolio/graduation_certificate.png" alt="certificate.png">
      </a>
    </div>
    <p class="centered">For more recent examples of my work, please see the <a href="/prototypes">Prototypes</a> and <a href="/blog">Blog</a> pages.</p>
  </div>
  
  <div class="divider"></div> 

  <div>

    <table class="center-block">
      <tr class="wrap">
        <td class="center-block">
          <div id="tictactoe" class="center-block">
            <div>
              <img class="imageSize border" src="images/portfolio/tictactoe_1.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/tictactoe_2.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/tictactoe_3.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/tictactoe_4.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/tictactoe_5.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/tictactoe_6.png">
            </div>
          </div>
        </td>
        <td>
          <div class="caption">
            <h2>Tic Tac Toe</h2>
            <p>A web app developed using Ruby, Sinatra, HTML, CSS and JavaScript.</p>
            <p>Highlights include:</p>
            <p>1) A mobile device friendly UI with a responsive game board.</p>
            <p>2) Game board sizes ranging from 3 x 3 up to 10 x 10.</p>
            <p>3) Support for human and three different types of computer opponents (sequential, random, unbeatable).</p>
            <p>4) Player move validation.</p>
            <p>5) Cumulative scoring for multiple games.</p>
            <a class="nonEditorButton" href="https://tic-tac-toe-n-ai-jv.herokuapp.com" target="_blank">Open Web App</a>
            <a class="nonEditorButton" href="https://github.com/jverbosky/tic_tac_toe_ai_n" target="_blank">View Code on Github</a>
          </div>
        </td>
      </tr>
      <tr class="wrap">
        <td class="center-block">
          <div id="phonebook" class="center-block">
            <div>
              <img class="imageSize border" src="images/portfolio/phonebook_1.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/phonebook_2.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/phonebook_3.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/phonebook_4.png">
            </div>
          </div>
        </td>
        <td>
          <div class="caption">
            <h2>Phonebook</h2>
            <p>A phonebook directory web app developed using Ruby, Sinatra, HTML and CSS. Data is hosted on an AWS-hosted PostgreSQL database.</p>
            <p>Highlights include:</p>
            <p>1) Support for record creation, retrieval, modification and deletion.</p>
            <p>2) Field validation for record creation and modification.</p>
            <p>3) Partial and case-insensitive search of existing records.</p>
            <p>4) Modern, mobile device friendly UI via Bootstrap and Jasny Bootstrap.</p>
            <p>5) AWS-hosted PostgreSQL database for data storage and retrieval.</p>
            <a class="nonEditorButton" href="https://phonebook-jv.herokuapp.com" target="_blank">Open Web App</a>
            <a class="nonEditorButton" href="https://github.com/jverbosky/phonebook" target="_blank">View Code on Github</a>
          </div>
        </td>
      </tr>
      <tr class="wrap">
        <td class="center-block">
          <div id="calculator" class="center-block">
            <div>
              <img class="imageSize border" src="images/portfolio/calculator_1.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/calculator_2.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/calculator_3.png">
            </div>
          </div>
        </td>
        <td>
          <div class="caption">
            <h2>Cumulative Calculator</h2>
            <p>A web app developed using Ruby, Sinatra, JavaScript (jQuery) HTML and CSS for cumulatively calculating mathematical expressions (left-to-right).</p>
            <p>This was my first attempt at writing my own JavaScript code.</p>
            <a class="nonEditorButton" href="https://calculator-jv.herokuapp.com" target="_blank">Open Web App</a>
            <a class="nonEditorButton" href="https://github.com/jverbosky/calculator" target="_blank">View Code on Github</a>
          </div>
        </td>
      </tr>
      <tr class="wrap">
        <td class="center-block">
          <div id="sunshine" class="center-block">
            <div>
              <img class="imageSize border" src="images/portfolio/sunshine_1.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/sunshine_2.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/sunshine_3.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/sunshine_4.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/sunshine_5.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/sunshine_6.png">
            </div>
          </div>
        </td>
        <td>
          <div class="caption">
            <h2>Sunshine & Rainbows</h2>
            <p>This web app uses the same codebase as a hangman game that I developed earlier, but with a more cheerful UI.</p>
            <p>As with hangman, this was written using Ruby, Sinatra, HTML and CSS (Bootstrap), with the UI focused on being mobile-friendly.</p>
            <a class="nonEditorButton" href="https://sunshine-jverbosky.herokuapp.com/" target="_blank">Open Web App</a>
            <a class="nonEditorButton" href="https://github.com/jverbosky/sunshine_and_rainbows" target="_blank">View Code on Github</a>
          </div>
        </td>
      </tr>
      <tr class="wrap">
        <td class="center-block">
          <div id="anpanman" class="center-block">
            <div>
              <img class="imageSize border" src="images/portfolio/anpanman_1.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/anpanman_2.png">
            </div>
            <div>
              <img class="imageSize border" src="images/portfolio/anpanman_3.png">
            </div>
          </div>
        </td>
        <td>
          <div class="caption">
            <h2>Anpanman Tribute</h2>
            <p>This is a tribute page built using HTML, CSS (Bootstrap) and JavaScript (jQuery) for the "Build a Tribute Page" project in freeCodeCamp's Full Stack Web Development Certification course.</p>
            <a class="nonEditorButton" href="https://codepen.io/jverbosky/full/VmpBjN" target="_blank">View on CodePen</a>
          </div>
        </td>
      </tr>
    </table>

  </div>

  <div class="divider"></div>

</div>