<div class="center-block">

  <div class="padded">
    <h1>Portfolio</h1>
  </div>
  
  <div class="divider"></div>
  <p class="centered">Welcome to my portfolio page - more to come soon!</p>
  <div class="divider"></div>

</div>