<!DOCTYPE html>
<html>
  <head>
    <title>John C. Verbosky</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/favicon/favicon.ico?" type="image/x-icon">

  </head>
  <body>

  <header>

  </header>

  <section>

    <div>
      <%= yield %>  <!-- load unique content from other .erb files -->
    </div>

    <div class="centered">
      <p>Copyright © 2017 John C. Verbosky. All rights reserved.</p>
    </div>

  </section>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript" src="js/editorButtons.js"></script>
    <script type="text/javascript" src="js/photoUpload.js"></script>
    <script type="text/javascript" src="js/submitBlog.js"></script>

  </body>
</html>