.title {
  width: 600px;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0);
}

#newBlogText {
  width : 600px;
  height : 300px;
  overflow-y: auto;
  -moz-appearance: textfield-multiline; 
  font: medium -moz-fixed;
  font: -webkit-small-control;
  font-size: 13px;
}

#newBlogText div {
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: gray;
}

/* button formatting */

.nonEditorButton {
  font: 13.3333px Arial;
  display: inline-block;
  padding: 4px 8px 4px 8px;
  margin-right: 2px;
  margin-bottom: 0;
  border: 1px solid;
  border-radius: 6px;
  background-color: rgb(229, 229, 229);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nonEditorButton.active.focus,.nonEditorButton.active:focus,.nonEditorButton.focus,.nonEditorButton:active.focus,.nonEditorButton:active:focus,.nonEditorButton:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.nonEditorButton.focus,.nonEditorButton:focus,.nonEditorButton:hover {
  color: rgba(0,0,255,0.25);
}

.nonEditorButton.active,.nonEditorButton:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* editorButtons, editorButton and editorButtonGroup applied by init() in editText.js */

.editorButtons {
  margin-top: 5px;
}

.editorButton {
  display: inline-block;
  padding: 2px 6px 2px 6px;
  margin: 0px 2px 0px 2px;
  border-radius: 4px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editorButton.focus,.editorButton:focus,.editorButton:hover {
  color: rgba(0,0,0,0.250);
}

.editorButton.active,.editorButton:active {
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.250), 0px -2px 5px rgba(0,0,0,.250);
  box-shadow: 0px 2px 5px rgba(0,0,0,.250), 0px -2px 5px rgba(0,0,0,.250);
}

.editorButtonGroup {
  margin-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid;
  border-radius: 6px;
  background-color: rgb(229, 229, 229);
}