.title {
  width: 620px;
}

.bold {
  font-weight: bold;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,255,0.25);
}

#newBlogText {
  width : 620px;
  height : 300px;
  overflow-y: auto;
  -moz-appearance: textfield-multiline; 
  font: medium -moz-fixed;
  font: -webkit-small-control;
  font-size: 13px;
}

#newBlogText div {
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.formatButton {
  display: inline-block;
  padding: 2px 8px 2px 8px;
  margin-right: 2px;
  margin-bottom: 0;
  border: 1px solid;
  border-radius: 6px;
  background-color: rgb(229, 229, 229);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.formatButton.active.focus,.formatButton.active:focus,.formatButton.focus,.formatButton:active.focus,.formatButton:active:focus,.formatButton:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.formatButton.focus,.formatButton:focus,.formatButton:hover {
  color: rgba(0,0,255,0.25);
}

.formatButton.active,.formatButton:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.submit {
  padding-top: 4px;
  padding-bottom: 4px;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
}

.fileUpload input.upload {
    position: absolute;
/*    top: 0;
    right: 0;
    margin: 0;
    padding: 0;*/
    /*font-size: 20px;*/
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}