<html>
<body>
<pre>
<code>
{
  "section_1": [
    {
      "property_1": "the",
      "property_2": "quick",
      "property_3": "brown",
      "property_4": "fox",
      "property_5": [
        "jumps",
        "over",
        "lazy"
      ],
      "property_1": "dog"
    },
    {
      "property_1": "the",
      "property_2": "rain",
      "property_3": "in",
      "property_4": "Spain",
      "property_5": [
        "falls",
        "mainly",
        "upon"
      ],
      "property_1": "plain"
    }
  ],
  "section_2": {
    "lions": {
      "habitat": {
        "savannah": {
          "menu": {
            "": {
              "options": [
                "mouse",
                "lizard",
                "beetle"
              ]
            },
            "": {
              "options": [
                "ground squirrel",
                "meerkat",
                "skunk"
              ]
            },
            "": {
              "options": [
                "gazelle",
                "zebra",
                "wildebeest"
              ]
            }
          }
        },
        "desert": {
          "menu": {
            "breakfast": {
              "options": [
                "hare",
                "sand"
              ]
            },
            "lunch": {
              "options": [
                "tortoise",
                "sand"
              ]
            },
            "dinner": {
              "options": [
                "warthog",
                "sand"
              ]
            }
          }
        }
      }
    },
    "tigers": {
      "habitat": {
        "savannah": {
          "menu": {
            "": {
              "options": [
                "mouse",
                "lizard",
                "beetle"
              ]
            },
            "": {
              "options": [
                "ground squirrel",
                "meerkat",
                "skunk"
              ]
            },
            "": {
              "options": [
                "gazelle",
                "zebra",
                "wildebeest"
              ]
            }
          }
        },
        "jungle": {
          "menu": {
            "": {
              "options": [
                "mouse",
                "frog",
                "fish"
              ]
            },
            "": {
              "options": [
                "monkey",
                "python",
                "boar"
              ]
            },
            "": {
              "options": [
                "deer",
                "goat",
                "horse"
              ]
            }
          }
        }
      }
    },
    "bears": {
      "habitat": {
        "savannah": {
          "menu": {
            "": {
              "options": [
                "mouse",
                "berries",
                "beetle"
              ]
            },
            "": {
              "options": [
                "gopher",
                "groundhog",
                "skunk"
              ]
            },
            "": {
              "options": [
                "deer",
                "bison",
                "elk"
              ]
            }
          }
        },
        "coastal": {
          "menu": {
            "breakfast": {
              "options": [
                "fish",
                "honey"
              ]
            },
            "lunch": {
              "options": [
                "hare",
                "termites"
              ]
            },
            "dinner": {
              "options": [
                "seal",
                "moose"
              ]
            }
          }
        }
      }
    }
  },
  "section_3": [
    "once upon a time",
    "in a land far far away",
    "there was a little boy",
    "who dreamed of making things",
    "that would someday",
    "help everyone around him",
    "in one way or another"
  ]
}
</code>
</pre>
</body>
</html>